{% extends 'userbase.html' %}

{% block head %}
<title>Document viewer</title>
<style>
    .main-content {
        text-align: center;
        position: relative;
        margin-top: 2%;
    }
</style>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/templates.css') }}">
{% endblock %}

{% block body %}
<div class="template-home">
    <div class="form-wrapper round-corners">
        <div class="main-content">
            <form action="" method="post">
                <h1>{{data["title"]}}</h1>
                <h4>{{data["description"]}}</h4>
                {% for station in data["stations"] %}
                {% set StationIndex = loop.index0 %}
                <div class="StationWrapper">
                    <div class="StationHead" style="color:hotpink">
                        <button type="button" id="StationHeadButton{{StationIndex}}" class="btn btn-primary"> {{station["Name"]}}</button>
                        {{station["Email"]}}
                    </div>
                    <div class="StationBody" id="StationBody{{StationIndex}}">
                        {% for field in station["fields"] %}
                        {% if field["type"] == "text" %}
                        <p class="text">{{field["value"]}}</p>
                        {% elif "input" in field["type"] %}
                        <div class="form-floating">
                            <input type="text" maxlength="100" placeholder="Template Title" name="{{loop.index0}}"
                                class="form-control" value="{{field['value']}}" disabled>
                            <label for="title">{{field["prompt"]}}</label>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <input style="display: none;" id="stage" name="stage" value="{{stage}}">
            </form>
        </div>
    </div>
</div>
<span id="allowed" style="display: none;">{{allowed}}</span>
<script src="{{url_for('static', filename='scripts/animateStations.js') }}"></script>
<script src="{{url_for('static', filename='scripts/documentAliver.js') }}"></script>
{% endblock %}