{% extends 'userbase.html' %}

{% block head %}
<title>Document viewer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/templates.css') }}">
<script>
    window.id = '{{id}}'
    window.allowed = '{{allowed}}'
</script>
{% endblock %}

{% block body %}
<div id="app">
    <div class="template-home">
        <div class="form-wrapper round-corners">
            <div class="alert alert-danger d-flex" v-if="warnings.length!=0">
                <button type="button" class="close bg-light" @click="warnings=[]">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <ul>
                    <li v-for="warning in warnings">
                        [[warning]]
                    </li>
                </ul>
            </div>
            <div class="main-content">
                <h1>[[template_data.title]]</h1>
                <h4>[[template_data.description]] </h4>
                <div :class="['StationWrapper',station.state]" v-for="(station,index) in template_data.stations">
                    <div class="StationHead">
                        <h5> [[station.Name]] </h5>
                        <h6 v-if="station.Email"> Section Email: [[station.Email]] </h6>
                    </div>
                    <div class="StationBody">
                        <div class="field-wrapper my-2 p-2 d-flex justify-content-center round-corners" v-for="field in station.fields">
                            <p v-if="field.type == 'text'">
                                [[field.value]]
                            </p>
                            <div class="w-75" v-if="field.type == 'input'">
                                <label>[[field.prompt]]</label>
                                <input type="text" v-model="field.value" class="form-control" :disabled="index!=stage">
                            </div>
                            <div class="w-75" v-if="field.type == 'radio'">
                                <label>[[field.prompt]]</label>
                                <div class="border my-1" v-for="option in field.options">
                                    <input type="radio" :id="option" :value="option" v-model="field.chosen" :disabled="index!=stage">
                                    <label class="mx-3">[[option]]</label>
                                </div>
                            </div>
                            <div class="w-75" v-if="field.type == 'checkbox'">
                                <label>[[field.prompt]]</label>
                                <div class="border my-1" v-for="option in field.options">
                                    <input type="checkbox" :id="option" :value="option" v-model="field.chosen" :disabled="index!=stage">
                                    <label class="mx-3">[[option]]</label>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group" v-if="index==stage">
                            <button class="btn btn-success" @click="submit('approved')">Approve</button>
                            <button class="btn btn-danger" @click="submit('rejected')" v-if="index!=0">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='scripts/docsViewVue.js') }}"></script>
{% endblock %}