{% extends 'userbase.html' %}

{% block head %}
<title>My Documents</title>
{% endblock %}

{% block body %}
<h2 class="form-header">My Created Documents</h2>
<div class="card-wrapper">
    {%for temp in MyDocuments%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{temp.name}}</h5>
            <p class="card-text">{{temp.description}}</p>
            <a href="/documents/{{temp.Did}}" class="btn btn-primary">view document</a>
        </div>
    </div>
    {%endfor%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Create Document</h5>
            <p class="card-text">Create a document from the templates created by other users</p>
            <a href="/Mytemplates?mode=all" class="btn btn-primary">view all templates</a>
        </div>
    </div>
</div>
<hr>
<h2 class="form-header">Pending Documents</h2>
<div class="card-wrapper">
    {%for temp in pendingDocuments%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{temp.name}}</h5>
            <p class="card-text">{{temp.description}}</p>
            <a href="/documents/{{temp.Did}}" class="btn btn-primary">view document</a><br>
            <small>Created by: {{temp.creator}}</small>
        </div>
    </div>
    {%endfor%}
    
</div>
<hr>
<h2 class="form-header">Past Documents</h2>
<div class="card-wrapper">
    {%for temp in pastdocs%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{temp.name}}</h5>
            <p class="card-text">{{temp.description}}</p>
            <a href="/documents/{{temp.Did}}" class="btn btn-primary">view document</a><br>
            <small>Created by: {{temp.creator}}</small>
        </div>
    </div>
    {%endfor%}
    
</div>
{% endblock %}