{% extends 'userbase.html' %}

{% block head %}
<title>My Templates</title>
{% endblock %}

{% block body %}
<h2 class="form-header">
    {% if mode == "all" %}
    Created Templates
    {% else %}
    My Created Templates
    {% endif %}
</h2>
<div class="card-wrapper">
    {%for temp in templates%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{temp.name}}</h5>
            <p class="card-text">{{temp.description}}</p>
            <a href="/templates/{{temp.Tid}}" class="btn btn-primary">view template</a>
        </div>
    </div>
    {%endfor%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Create new template</h5>
            <p class="card-text">press here to create a new template</p>
            <a href="/templates/0" class="btn btn-primary round-btn">+</a>
        </div>
    </div>
</div>
{% endblock %}