{% extends 'base.html' %}

{% block head %}
<title>Templte Maker</title>
{% endblock %}

{%block body%}
    <div class="dropdown">
        <button class="dropbtn">Create new section</button>
        <div class="dropdown-content">
            <a><button class = "optionbtn" onclick="newText()">Add text box</button></a>
            <a><button class = "optionbtn" onclick="newTextIn()">Add text input</button></a>
        </div>
    </div>
    <div class="text-cont"></div>
    <script src="{{url_for('static', filename='scripts/templates.js') }}"> </script>
{%endblock%}