{% extends 'userbase.html' %}

{% block head %}
<title>My Templates</title>
{% endblock %}

{% block body %}
<script>
    var mode = "{{ mode }}";
</script>
<div id="app">
    <h2 class="form-header">
        [[title]]
    </h2>
    <div class="btn-toolbar d-flex justify-content-center">
        <div class="btn-group">
            <button class="btn btn-light" @click="sortDocsAlphabeticallyName"><i class="material-icons">abc</i> By Name</button>
            <button class="btn btn-light" @click="sortDocsAlphabeticallyCreator"><i class="material-icons">face</i> By Creator</button>
            <button class="btn btn-light" @click="sortDocsDateCreated"><i class="material-icons">schedule</i> By Date</button>
            <!-- <input type="checkbox" v-model="mode" true-value="all" false-value="none" name="modeselect"/>
            <label for="modeselect">View All</label> -->
        </div>
    </div>
    <div class="card-wrapper">
        <div v-for="doc in temps" class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">[[doc.name]]</h5>
                <p class="card-text">[[doc.description]]</p>
                <a :href="doc.href" class="btn btn-primary">view template</a><br>
                <small>Created by: [[doc.creator]]</small>
            </div>
        </div>
    </div>
</div>
<a href="/templates/0" class="btn btn-success top-left">
    <i class="material-icons">add</i> New Template
</a>


<script src="{{url_for('static', filename='scripts/tempsVue.js') }}"></script>
{% endblock %}