{% extends 'userbase.html' %}

{% block head %}
<title>Template Maker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/templates.css') }}">
<script src="{{url_for('static', filename='scripts/inputCreator.js') }}"></script>
{% endblock %}

{%block body%}
<div>
    <div class="top-left">
        <button class="btn submitbtn" id="station_maker">Create Station</button>
    </div>
    <form id="form" style="border-top: 10%;" action="/createTemplate" method="POST" class="text-cont">
        <div class="form-floating">
            <input type="text" maxlength="100" placeholder="Template Title" name="title" class="form-control" required>
            <label for="title">Template Title</label>
        </div>
        <div class="form-floating">
            <input type="text" maxlength="100" placeholder="vbhmn" name="description" class="form-control" required>
            <label for="description">Template Description</label>
        </div>
    </form>
    <button type="submit" id="submit" style="width:200px" class="btn submitbtn" form="form">Create Template</button>
</div>

<script src="{{url_for('static', filename='scripts/templates.js') }}"></script>
{%endblock%}