{% extends 'userbase.html' %}

{% block head %}
<title>Template viewer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/templates.css') }}">
<script>
    window.id = '{{id}}'
    window.stats_show = '{{viewstats}}'
</script>
{% endblock %}

{% block body %}
<div id="app">
    <div class="template-home">
        <div class="form-wrapper round-corners">
            <div class="main-content">
                <h1>[[template_data.title]]</h1>
                <h4>[[template_data.description]] </h4>
                <div class="StationWrapper" v-for="station in template_data.stations">
                    <div class="StationHead">
                        <h5> [[station.Name]] </h5>
                        <h6 v-if="station.Email"> Section Email: [[station.Email]] </h6>
                    </div>
                    <div class="StationBody">
                        <div class="field-wrapper my-2 p-2 d-flex justify-content-center round-corners" v-for="field in station.fields">
                            <p v-if="field.type == 'text'">
                                [[field.value]]
                            </p>
                            <div class="w-75" v-if="field.type == 'input'">
                                <label>[[field.prompt]]</label>
                                <input type="text" v-model="field.value" class="form-control" disabled>
                            </div>
                            <div class="w-75" v-if="field.type == 'radio'">
                                <label>[[field.prompt]]</label>
                                <div class="border" v-for="(option,index) in field.options">
                                    <input type="radio" :id="option" :value="option" v-model="field.chosen" disabled>
                                    <label class="mx-3">[[option]]</label>
                                </div>
                            </div>
                            <div class="w-75" v-if="field.type == 'checkbox'">
                                <label>[[field.prompt]]</label>
                                <div class="border" v-for="(option,index) in field.options">
                                    <input type="checkbox" :id="option" :value="option" v-model="field.chosen" disabled>
                                    <label class="mx-3">[[option]]</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a :href="'/CreateDocument/'+id" class="btn btn-primary">Instanciate this Template as your own document</a>
            </div>
        </div>
    </div>
    <div class="home" v-if="stats_show">
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead>
                <td>Section</td>
                <td>Count</td>
            </thead>
            <tr v-for="(count,key) in template_stats">
                <td>[[key]]</td>
                <td>[[count]]</td>
            </tr>
        </table>
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/tempViewVue.js') }}"></script>
{% endblock %}