{% extends 'base.html' %}

{% block navcontent %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('my_templates')}}">My Templates</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('my_documents')}}">My Documents</a>
</li>
{%endblock%}

{% block dropdowncontent %}
<li><a class="dropdown-item" href="{{url_for('home')}}">Home</a></li>
<li><a class="dropdown-item" href="{{url_for('preferances')}}">Preferences</a></li>
<li><a class="dropdown-item" href="{{url_for('signout')}}">Signout</a></li>
{%endblock%}