.hidden{
    display: none;
}

body{
    background-color: whitesmoke;
}

.form-wrapper{
    background-color: lightgray;
    padding: 5%;
    margin: 0% 18% 0%;
}

.round-corners{
    border-radius: 25px;
}

.round-btn{
    border-radius: 50%;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
    font-size: larger;
    text-align: center;
}

div.home{
    text-align: center;
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 2rem;
}

div.card-wrapper{
    padding: 2rem 10% 0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.card{
    margin:5px;
    text-align: center;
}

h2.form-header{
    text-align: center;
    margin-top: 2rem;
}

hr{
    stroke-width: 5px;
    padding: 0% 20% 0%;
}