.home{
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 5%;
}

.form-wrapper{
    background-color: lightgray;
    padding: 5%;
}

.round-corners{
    border-radius: 25px;
}

.hidden{
    display: none;
}