.StationWrapper {
    display: block;
    overflow: hidden;
    margin: 1em;
    padding: 1em;
    border: 0.4rem solid rgb(1, 27, 2);
    border-radius: 0.5em;
}

div.form-floating {
    width: 33%;
    height: 2em;
    margin-top: 5px;
    margin-bottom: 2em;
}

table,
th,
td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}